<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DesktopAutomationSuite">
  <test thread-count="5" name="CalculatorLaunch">
    <classes>
      <class name="com.automation.desktop.scripts.projectsetup.LaunchCalculator"/>
          </classes>
  </test> <!-- CalculatorLaunch -->
    
      <test thread-count="5" name="CalculatorActions">
      <classes>
      <class name="com.automation.desktop.scripts.projectsetup.MathsAction"/> 
    </classes>
  </test> <!-- CalculatorAutomation -->
</suite> <!-- DesktopAutomationSuite -->
